# See:
# - https://github.com/mosaicml/composer/blob/v0.32.1/composer/utils/parallelism.py#L14
# - https://docs.mosaicml.com/projects/composer/en/stable/notes/distributed_training.html#fullyshardeddataparallel-fsdp
# - https://github.com/mosaicml/composer/blob/v0.32.1/composer/distributed/mosaic_parallelism.py#L25-L31
fsdp:
  sharding_strategy: "FULL_SHARD"
  verbose: true